.section-resume {
    display: block;
    background-color: #f2f2f1;
    padding: 95px 0 60px;
    color: $main-text-color;
    position: relative;
    &:after {
        position: absolute;
        content: "";
        background: url('../img/sprites.png') no-repeat -527px 0;
        width: 59px;
        height: 20px;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
    }
}
.resume {
    text-align: center;
}
.resume__title {
    font-size: $font-size-title;
    color: $main-title-color;
    font-weight: 700;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.resume__description {
    max-width: 1065px;
    margin-bottom: 3.125rem;
}

