<<<<<<< HEAD
.second-slick_item {
    text-align: center;
    max-width: 1135px;
    font-size: 1.5rem;
    font-family: 'Roboto-Italic';
    .second-slick_title {
        display: block;
        color: $main-title-color;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 40px;
        font-family: 'Roboto-Bold';
    }
}
.second-slick_text {
    margin-bottom: 45px;
    display: inline-block;
=======
.second-slick_item {
    text-align: center;
    max-width: 1135px;
    font-size: 1.5rem;
    font-family: 'Roboto-Italic';
    .second-slick_title {
        display: block;
        color: $main-title-color;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 40px;
        font-family: 'Roboto-Bold';
    }
}
.second-slick_text {
    margin-bottom: 45px;
    display: inline-block;
>>>>>>> d90bf2cc31d23426c9a9e7e7968398fafc190d59
}