.section-white {
    display: block;
    background-color: #fff;
    padding: 95px 0 60px;
    color: $main-text-color;
}
.section-secondary {
    display: block;
    background-color:$section-secondary;
    padding: 100px 0;
    color: $main-text-color;
}
